@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: Source Sans Pro;
  src: url("/fonts/SourceSansPro-Black.otf") format("opentype");
}
@font-face {
  font-family: Source Sans lite;
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-source-sans-pro;
}

.nav-link {
  @apply text-[15px] font-400  leading-[22px] ;
  font-family: 'Source Sans lite'
}

.text-button {
  @apply text-[15px] font-600 leading-[14px];
}

.heading1 {
  @apply text-heading1 font-900 leading-heading1;
  color: #000333;
}

.heading2 {
  @apply text-heading2 font-900 leading-heading2 tracking-2;
}

.heading4 {
  @apply text-heading4 font-900 leading-heading4 tracking-[-2px];
}

.subheading1 {
  @apply text-subheading1 font-900 leading-subheading1 tracking-['-1px'];
}

.subheading3 {
  @apply text-subheading3 font-900 leading-subheading3 tracking-1;
}

.text-s {
  @apply font-merriweather text-text-s font-400 leading-text-s text-center;
}

.text-xs {
  @apply font-merriweather text-text-xs font-400 leading-text-xs;
}

.text-base {
  @apply font-merriweather text-text-base font-400 leading-text-base;
}

.text-base-bold {
  @apply font-merriweather text-text-base font-700 leading-text-base-bold;
}

.card-text-body {
  @apply font-merriweather text-card-text-body font-400 leading-card-text-body;
}

.card-text-cta {
  @apply text-card-text-cta font-900 leading-card-text-cta;
}

.banner-cta {
  @apply text-banner-cta font-600 leading-banner-cta;
}

.testimonial-author-name {
  @apply text-testimonial-author-name font-900 leading-testimonial-author-name;
}

.cta {
  @apply text-cta font-700 leading-cta;
}

.footer-heading {
  @apply text-footer-heading-2 font-600 leading-footer-heading-2 tracking-0.01;
}

.footer-links {
  @apply text-footer-links-2 font-400 leading-footer-links-2 tracking-0.15;
}
