@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

/* Source Sans pro */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-ExtraLight.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Semibold.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Bold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Black.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets//fonts/Merriweather-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets//fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets//fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("../assets//fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Define other weights if needed */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-source-sans-pro;
}

.nav-link {
  @apply text-[15px] font-600;
}

.text-button {
  @apply text-[15px] font-600;
}

.heading1 {
  @apply font-900 text-[28px] md:text-[42px] xl:text-[46px] 2xl:text-[56px] leading-[30px] md:leading-[46px] xl:leading-[67px];
}

.heading2 {
  @apply text-heading2 font-900 tracking-2 font-merriweather;
}

.heading4 {
  @apply text-heading4 font-900 leading-heading4 tracking-[-2px];
}

.subheading1 {
  @apply text-subheading1 font-900 leading-subheading1 tracking-[-1px];
}

.subheading3 {
  @apply text-subheading3 font-900 leading-subheading3 tracking-1;
}

.text-s {
  @apply font-merriweather text-text-s font-400 leading-text-s text-center;
}

.text-xs {
  @apply font-merriweather text-text-xs font-400 leading-text-xs;
}

.text-base {
  @apply font-merriweather text-text-base font-400 leading-text-base;
}

.text-base-bold {
  @apply font-merriweather text-text-base font-700  leading-[23px] md:leading-[27px];
}

.card-text-body {
  @apply font-merriweather text-card-text-body font-400 leading-card-text-body;
}

.card-text-cta {
  @apply text-card-text-cta font-900 leading-card-text-cta;
}

.banner-cta {
  @apply text-banner-cta font-600 leading-banner-cta;
}

.testimonial-author-name {
  @apply text-testimonial-author-name font-900 leading-testimonial-author-name;
}

.cta {
  @apply text-cta font-700 leading-cta;
}

.footer-heading {
  @apply text-footer-heading-2 font-600 leading-footer-heading-2 tracking-0.01;
}

.footer-links {
  @apply text-footer-links-2 font-400 leading-footer-links-2 tracking-0.15;
}

.shadow-right {
  box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.75); /* Adjust the values as per your requirement */
}

.wrapper {
  @apply px-[20px] md:px-[40px] lg:px-[72px];
}
.max-width {
  @apply xl:max-w-7xl xl:mx-auto;
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
